# See https://help.github.com/ignore-files/ for more about ignoring files.
.vscode
## Server
/dhparam
# dependencies
/server/node_modules

# Logs
/server/logs/*

# Testing
/server/coverage

## Client
/client/eslint
# dependencies
/client/node_modules

/client/redux-diagram.drawio
# testing
/client/coverage

# production
/client/build

# misc
.DS_Store
server/.env*
/server/config/*
/client/.env*
/client/.eslintcache

npm-debug.log*
